body {
    height: 4675px;
    width: 850px;
    overflow-x:hidden;
    margin: 0 auto;
  }
  /* 850 width */
  .container {
    background: url('../images/bg.png') 0 0 no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    overflow-x:hidden;
    position: relative;
    margin: 0 auto;
  }

.cloud1{
    background: url("../images/cloud1.png") 0 0 no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 594px;
    height: 482px;
    position: absolute;
    left: 26%;
    top: 280px;
    z-index: 3;
    opacity: .8;
    animation: cloud1 60s linear infinite alternate;
}

  @keyframes cloud1 {
    0% {
      left: 26%;
    }
    100% {
      left: 40%;
    }
  }


.cloud2{
    background: url("../images/cloud2.png") 0 0 no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 294px;
    height: 182px;
    overflow:hidden;
    position: relative;
    left: 58%;
    top: 20px;
    z-index: 12;
    opacity: 1;
    animation: cloud2 30s linear infinite alternate;
}

  @keyframes cloud2 {
    0% {
      left: 58%;
      opacity: 1
    }
    50%{
        left: 42%;
        opacity: .6;
    }
    100% {
      left: 22%;
      opacity: 1;
    }
  }

  .cloud3{
    background: url("../images/cloud3.png") 0 0 no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 294px;
    height: 182px;
    position: absolute;
    left: 21%;
    top: 150px;
    z-index: 2;
    animation: cloud3 40s linear infinite alternate;
}

  @keyframes cloud3 {
    0% {
      left: 21%;
      
    }
    100% {
      left: 40%;
    }
  }


#island{
    background: url("../images/island.png") 50% 50% no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 556px;
    height: 618px;
    position: absolute;
    left: 0;
    right: 0;
    top: 160px;
    margin: auto;
    transform: skew(2deg);
    z-index: 10;
    animation: swing 2s infinite;
    animation-direction: alternate;
}

  
  @keyframes swing {
    0% {
      transform: skewY(2deg);
    }
    100% {
      transform: skewY(-2deg);
    }
  }

/* 165 722 */
  .bubbles1{
    background: url("../images/bubbling.png") 0 0 no-repeat;
    width: 165px;
    height: 90px;
    position: absolute;
    left: 20%;
    right: 0;
    top: 4200px;
    overflow: hidden;
    margin: auto;
    opacity: 1;
    z-index: 99;
    transition: ease-in-out;
    animation: fadingbubbles 8s steps(8) infinite,
    movingbubbles 8s steps(8) infinite;
}

@keyframes fadingbubbles{
    0% {
        background-position: 0 0;
        opacity: 1;
    }
    100%
    {
        background-position: 0 -722px;
        opacity: .4;
    }
}


@keyframes movingbubbles{
    0% {
        top: 4400px;
    }
    100%
    {
        top: 4230px;
    }
}

/* 82 361 */
.bubbles2{
    background: url("../images/smallbubbles.png") 0 0 no-repeat;
    width: 82px;
    height: 45.125px;
    position: absolute;
    left: 36%;
    top: 4200px;
    z-index: 99;
    opacity: 1;
    transition: ease-in-out;
    animation: tinybubbles 8s steps(8) infinite,
    smallbubbles 8s steps(8) infinite;
}

@keyframes tinybubbles{
    0% {
        background-position: 0 0;
        opacity: 1;
    }
    100%
    {
        background-position: 0 -361px;
        opacity: .4;
    }
}


@keyframes smallbubbles{
    0% {
        top: 4500px;
    }
    100%
    {
        top: 4300px;
    }
}

/* 865x231 */
#monkey{
background: url("../images/monkeys.png") 0 0 no-repeat;
width: 173px;
height: 231px;
position: fixed;
left: 0;
right: 0;
top: -320px;
margin: auto;
overflow: hidden;
z-index: 99;
}


.bird1{
    background: url("../images/birdflying.png") 0 0 no-repeat;
    width: 180.75px;
    height: 280px;
    left: 52%;
    top: 20%;
    position: absolute;
    animation: liftoff 1s steps(4) infinite alternate,
    flyoff 46s linear infinite alternate;
    z-index: 100;
    }
    
    
    /* 698px 693px 4 images in column and 3 images in row sprite*/
    @keyframes liftoff {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -723px -30px;
        }
    }
    
    @keyframes flyoff {
        0% {
            left: 48%;
        }
        100% {
            left: 65%;
        }
    }
     
    
    
.bird2{
    background: url("../images/birdsitting.png") 50% 50% no-repeat;
    width: 100px;
    height: 64px;
    left: 53.5%;
    top: 24%;
    position: absolute;
    animation: sittingbird 12s steps(5) infinite alternate;
    z-index: 100;
    }
    
    
    /* 698px 693px 4 images in column and 3 images in row sprite*/
    @keyframes sittingbird {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -500px 0;
        }
    }
   
    
    
    .ripple1{
        background: url("../images/ripple.png") 50% 50% no-repeat;
        width: 161px;
        height: 40.4px;
        left: 53%;
        top: 4500px;
        position: absolute;
        opacity: 1;
        animation: smallripple 2s steps(5) infinite alternate;
        z-index: 5;
        }
        
        
        /* 161 202 one column with 5 images */
        @keyframes smallripple {
            0% {
                background-position: 0 0;
                opacity: 1;
            }
            100% {
                background-position: 0 -202px;
                opacity: .5;
            }
        }
       
      
        .ripple2{
            background: url("../images/ripple.png") 50% 50% no-repeat;
            width: 161px;
            height: 40.4px;
            left: 53%;
            top: 4600px;
            position: absolute;
            opacity: 1;
            animation: secondripple 4s steps(5) infinite alternate-reverse;
            z-index: 5;
            }
            
            
            /* 161 202 one column with 5 images */
            @keyframes secondripple {
                0% {
                    background-position: 0 0;
                    opacity: 1;
                }
                100% {
                    background-position: 0 -202px;
                    opacity: .6;
                }
            }
               
        
            #bush{
                background: url("../images/bush.png") 0 0 no-repeat;
                width: 460px;
                height: 222px;
                position: absolute;
                left: 35%;
                top: 3050px;
                z-index: 99;
                }

                /* 503 262 */
                #branch{
                    background: url("../images/branch.png") 0 0 no-repeat;
                    width: 503px;
                    height: 262px;
                    position: absolute;
                    left: 44.9%;
                    top: 1050px;
                    z-index: 100;
                    }
/* 306x237 */
#tunnel{
    background: url("../images/mario-tunnel.png") 0 0 no-repeat;
    width: 306px;
    height: 237px;
    position: absolute;
    left: 33%;
    top: 2950px;
    z-index: 99;
}